
<div class="container  border-top border-primary " style="max-width:
      500px" id="contenedor-formulario">
  <div class="text-center mb-4" id="titulo-formulario">
    <h2 [style.color]="propertyBinding">{{interpolationBinding}}</h2>
    <p class="fs-5">NOS ENCANTAN LAS MASCOTAS HABLANOS DE LA TUYA</p>
  </div>



  <form action="">
    <div class= "mb-3">
      <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com">
    </div>


    <div class="mb-3">
      <input type="input" class="form-control" id="nombre" placeholder="Adrian Sanchez">
    </div>


    <div class="mb-3">
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Teléfono">
    </div>

    <div class="mb-3">
      <textarea class="form-control" id="msj" rows="4"></textarea>
    </div>

    <div class="mb-3">
      <button type="button" class=" btn btn-primary w-100 fs-5">Enviar Mensaje</button>
    </div>
  </form>

</div>
